:root {
  --background-color: #FFFF;
  --primary-color: #1E201E;
  --secondary-color: #B43F3F;
  --third-color: #B19615;
  --forth-color: #9b9fa2;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  font-family: 'Roboto', sans-serif;
}


